#create-item-form {
    text-align: left;

    div {
        margin-bottom: 20px;

        label {
            font-weight: bold;
            width: 150px;
            display: inline-block;
        }

        input {
            border: 1px solid grey;
        }
    }
}

#edit-item-loading {
    font-weight: bold;
    text-align: center;
}

#edit-item-error {
    font-weight: bold;
    color: #f61500;
}