#edit-invoice-form {
    text-align: left;

    div {
        margin-bottom: 20px;

        label {
            font-weight: bold;
            width: 150px;
            display: inline-block;
        }

        input {
            border: 1px solid grey;
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        input[type="button"], input[type="submit"] {
            cursor: pointer;
            border: 1px solid grey;
            border-radius: 6px;
            background-color: grey;
        }
    }
}

#edit-invoice-loading {
    font-weight: bold;
    text-align: center;
}

#edit-invoice-error {
    font-weight: bold;
    color: #f61500;
}