#edit-invoice-form {
    text-align: left;

    div {
        margin-bottom: 20px;

        label {
            font-weight: bold;
            width: 150px;
            display: inline-block;
        }

        input {
            border: 1px solid grey;
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        input[type="date"] {
            cursor: pointer;
        }
    }
}

#edit-invoice-loading {
    font-weight: bold;
    text-align: center;
}

#edit-invoice-error {
    font-weight: bold;
    color: #f61500;
}

#item-select {
    width: 200px;
    display: inline;
    margin-right: 20px;
}

.item-row-name {
    font-weight: bold;
}

.item-row-price {
    margin-left: 20px;
}

.close-icon {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}