#invoice-table-container {
    max-height: 592px;
}

#invoice-table-loading {
    font-weight: bold;
    text-align: center;
}

#invoice-table-error {
    font-weight: bold;
    color: #f61500;
}

.rdt_TableRow {
    cursor: pointer;
}

.rdt_TableRow:hover {
    background-color: lightgrey;
}