@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

#invoice-table-container {
    max-height: 592px;
    padding-left: 10px;
    padding-right: 10px;
}

#invoice-table-loading {
    font-weight: bold;
    text-align: center;
}

#invoice-table-error {
    font-weight: bold;
    color: #f61500;
}

.invoice-table {
    .view-button {
        cursor: pointer;
    }
}