@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

#item-table-container {
    max-height: 622px;
    padding: 10px;

    .heading {
        font-size: 16pt;
        font-weight: bold;
    }
}

#item-table-loading {
    font-weight: bold;
    text-align: center;
}

#item-table-error {
    font-weight: bold;
    color: #f61500;
}

.item-table {
    tr:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }

    tr.selected {
        background-color: #b0bed9;
    }

    .ellipsis-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    .view-button {
        cursor: pointer;
    }

    .edit-button {
        cursor: pointer;
    }

    .delete-button {
        cursor: pointer;
    }
}