#report-summary-container  {
    text-align: left;
}

#report-summary-table {
    width: 100%;

    .td-heading {
        font-weight: bold;
        width: 120px;
    }

    .td-value {

    }
}

#report-summary-loading {
    font-weight: bold;
    text-align: center;
}

#report-summary-error {
    font-weight: bold;
    color: #f61500;
}