#report-summary-container  {
    text-align: left;
}

#report-summary-table {
    position: relative;
    left: 10%;
    width: 80%;

    tr {
        height: 40px;
    }

    td {
        width: 15%;
    }

    .td-heading {
        font-weight: bold;
    }

    .td-value {

    }
}

#report-summary-loading {
    font-weight: bold;
    text-align: center;
}

#report-summary-error {
    font-weight: bold;
    color: #f61500;
}